// ===========================
// WHITE
// ===========================
$white: #ffffff;
// ===========================
// BLACK
// ===========================
$black: #000;
// ===========================
// DANGER
// ===========================
$red: #ffeceb;
$red-100: #ffe5e3;
$red-200: #ffc6c2;
$red-300: #ffa099;
$red-400: #ff7a70;
$red-500: #ff675c;
// ===========================
// WARMING
// ===========================
$yellow: #f7f1df;
$yellow-80: #ffebd0;
$yellow-100: #ffeac2;
$yellow-200: #ffdb99;
$yellow-300: #ffcd70;
$yellow-400: #ffbf47;
$yellow-420: #ffb833;
$yellow-500: #faa300;
// ===========================
// SUCCESS
// ===========================
$green: #cafcf8;
$green-100: #d0f1ee;
$green-200: #b0e8e3;
$green-300: #90dfd8;
$green-400: #71d6cd;
$green-500: #3fc8bd;
// ===========================
// SUCCESS
// ===========================
$gray: #D5D5D5
